h2.introduction {
    font-style: italic;
    background-color: bisque;
}
p.introduction {
    font-style: oblique;
    background-color: blueviolet;
}
img.introduction {
    background: scroll;
    background-color: crimson;
}
@media screen and (min-width: 768px) {
  body {
    background-color: yellowgreen;
  }
  .introduction {
    width: 300px;
    float: left;
    padding: 15px;
  }
  img {
    width: 300px;
  }
}